### 3. Pandas

#### Importing all the relevant libraries :

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pylab import rcParams
import statsmodels.api as sm
import itertools

#### Creating an input data frame for part a:

In [2]:
df_a = pd.DataFrame({'days': [1, 1, 2, 2, 1, 3, 4],'values': [10, 10, 5, 3, -2, 4, 20]})
print(df_a)

   days  values
0     1      10
1     1      10
2     2       5
3     2       3
4     1      -2
5     3       4
6     4      20

#### Creating an aggregated data frame with ooperations - mean, median, max, min for the values column:

In [3]:
aggregation = {
    'values': {
        'mean_values':'mean',
        'median_values':'median',
        'max_values':'max',
        'min_values':'min'
    }
}
aggregate_df = df_a.groupby('days').agg(aggregation)
print(aggregate_df)

          values
     mean_values median_values max_values min_values
days
1              6            10         10         -2
2              4             4          5          3
3              4             4          4          4
4             20            20         20         20

C:\Users\Ayush\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\groupby\generic.py:1315: FutureWarning: using a dict with renaming is deprecated and will be removed in a future version
  return super(DataFrameGroupBy, self).aggregate(arg, *args, **kwargs)

#### Creating input data frame for part b:

In [4]:
df_b = pd.DataFrame({'employee': [1001, 1002, 1004, 1001, 1001, 1002, 1004, 1005, 1005],
                    'pos': [2, 2, 2, 2, 2, 2, 2, 2, 2],
                    'amount': [125, 542, 2345, 892, 100, 1234, 657, 34, 35]})
print(df_b)

   employee  pos  amount
0      1001    2     125
1      1002    2     542
2      1004    2    2345
3      1001    2     892
4      1001    2     100
5      1002    2    1234
6      1004    2     657
7      1005    2      34
8      1005    2      35

#### Selecting top 2 employees with the max difference between the lowest amount and the highest amount between the employees:

In [5]:
max_diff = df_b.groupby(['employee','pos'])['amount'].agg(['max','min'])
max_diff['amount_diff'] = (max_diff['max']-max_diff['min'])

max_diff = max_diff.sort_values(by = 'amount_diff',ascending=False)
print(max_diff['amount_diff'].head(2))

employee  pos
1004      2      1688
1001      2       792
Name: amount_diff, dtype: int64